<table style="width: 50%">


    <tr style="font-weight: bold">
      <td style="width: 25%;padding-left: 10px">SN</td>
      <td style="width: 25%;padding-left: 10px">Name</td>
      <td style="width: 25%;padding-left: 10px">URL</td>
      <td style="width: 25%;padding-left: 10px">Description</td>
    </tr>

    <% i = 0 %>
    <% @profile.each do |p| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= p.gsub("| LinkedIn","") %></td>
        <td><%= @url[i] %></td>
        <td><%= @info[i].force_encoding("binary") %></td>
      </tr>
    <% i = i+1 %>
    <% end %>



</table>
